.bg{
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
       (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  #bg1{
    background-image: url('../images/bg1-1024.jpg');
  }

  #bg2{
    background-image: url('../images/bg2-1024.jpg');        
  }
  #bg3{
    background-image: url('../images/bg3-1024.jpg');        
  }
}
@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  #bg1{
    background-image: url('../images/bg1-2048.jpg');
  }
  #bg2{
    background-image: url('../images/bg2-2048.jpg');
  }
  #bg3{
    background-image: url('../images/bg3-2048.jpg');
  }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  #bg1{
    background-image: url('../images/bg1-2880.jpg');
  }
  #bg2{
    background-image: url('../images/bg1-2880.jpg');
  }
  #bg3{
    background-image: url('../images/bg1-2880.jpg');
  }
}
.margin-top-10 {
    margin-top: 10vh;
}

.margin-top-5 {
    margin-top: 5vh;
}

.translusent-black {
    background-color: rgba(0,0,0,0.5);
}
.translusent-black.darken-1 {
    background-color: rgba(0,0,0,.7);
}



.f-200 {
    font-weight: 200;
}

.translusent-white {
    background-color: rgba(255,255,255,.25);
}
.translusent-white.darken-1 {
    background-color: rgba(255,255,255,.65);
}
.translusent-white.darken-2 {
    background-color: rgba(255,255,255,.8);
}

.translusent-black-text {
    color: rgba(0,0,0,.5) !important;
}

.no-margin {
    margin: 0px;
}

.f-300 {
    font-weight: 300;
}

.no-block {
    display: inline-block
}

.menu{
    height: 48px;
    width: 48px;
    top: 20px;
    left: 20px;
    padding-top: 4px;
}
.menu:hover{
    background-color: rgba(255,255,255,.5);
}
.menu:focus{
    background-color: rgba(255,255,255,.5);
}

.translusent-facebook {
    background-color: rgba(59,89,152,0.7);
}

.translusent-gplus {
    background-color: rgba(211, 72, 54,0.70);
}

.f-100 {
    font-weight: 100 !important;
}

.no-border {
    border: 0px;
}
