{% extends "layout.html" %}
{% block title %} New Song {% endblock %}
    {% block content %}
		<div class="container margin-top-5">
		 <form action="{% if song %}{{ url_for('editSong',g_id=song.g_id,s_id = song.id) }}{% else %}{{ url_for('newSong') }}{% endif %}" method="post">
			<div class="row">
				<div class="col m8 offset-m2 s12 card-panel translusent-white z-depth-5 ">
				    <div class="row margin-top-5">
                        <div class="input-field col s12 m6 offset-m3">
                            <select required name="genre">
                              <option value="" disabled {% if not song %}selected{% endif %} class="translusent-black"><sup>*</sup> Genre</option>
                              {% for genre in genres %}
                              <option value="{{ genre.id }}" {% if song and genre.id == song.g_id %}selected{% endif %}>{{ genre.name }}</option>
                              {% endfor %}
                            </select>
                        </div>
                         <div class="input-field col s12 m6 offset-m3">
                          <input id="name" name="name" type="text" class="validate" required autocomplete="off" value="{% if song %}{{song.name}}{% endif %}">
                          <label for="name"><sup>*</sup> Name</label>
                        </div>
                        <div class="input-field col s12 m6 offset-m3">
                          <input id="desc" name="desc" type="text" class="validate" autocomplete="off" value="{% if song %}{{song.description}}{% endif %}">
                          <label for="desc">Description</label>
                        </div>
                        <div class="input-field col s12 m6 offset-m3">
                          <input id="url" type="text" class="validate" value="{% if song %}{{song.url}}{% endif %}" required name="url" autocomplete="off">
                          <label for="url"><sup>*</sup> URL (YouTube Video)</label>
                        </div>
                        <div class="col m6 offset-m3 s12">
                            <button type="submit" class="btn-floating btn-large waves-effect waves-light translusent-black"><i class="fa fa-magic" aria-hidden="true"></i></button>
                        </div>
					</div>
					
				</div>
			</div>
           </form>
		</div>
    {% endblock %}