{% extends "layout.html" %}
{% block title %} Genre {% endblock %}
    {% block content %}
		<div class="container margin-top-5">
			<div class="row margin-top-5">
				<div class="col m8 offset-m2 s12">
					<div class="card-panel translusent-white z-depth-5 center-align">
						<h4 class="translusent-black-text no-margin">Category</h4>
					</div>
					<div class="card-panel translusent-white z-depth-5">
						<div class="row white-text f-200">
							{% for genre in genres %}
							 <div class="col s6">
                                <a href="{{ url_for('genreView',gid = genre.id ) }}"><div class="card-panel z-depth-4 translusent-black ani-shadow white-text"><span>{{ genre.name }}</span></div></a>
							 </div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
    {% endblock %}