{% extends "layout.html" %}
{% block title %} Song List {% endblock %}
    {% block content %}
		<div class="container margin-top-5">
			<div class="row">
				<div class="col m8 offset-m2 s12">
					<div class="card-panel translusent-white z-depth-5 video-container no-height">
                        <div class="video-container">
                            <iframe width="1920" height="1080" src="{{ song.url }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="card-panel translusent-black white-text z-depth-4 ani-shadow f-200">
                            <span>{{ song.name }}</span>
                            <span class="right">
                                <a class="white-text" href="{{ url_for('editSong',g_id = song.g_id,s_id = song.id) }}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit </a> 
                                <a class="white-text" href="{{ url_for('deleteSong',g_id = song.g_id,s_id = song.id) }}"> <i class="fa fa-trash-o" aria-hidden="true"></i> Delete </a> 
                            </span>
                        </div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}